<div class="w-full px-4">
    <a class="group mb-8 md:flex" >
      <img
        class="h-40 w-48 rounded-lg"
        src="https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&amp;auto=format&amp;fit=crop&amp;w=1470&amp;q=80"
        alt=""
      />
      <div class="my-4 pt-2 md:ml-6 md:mt-0">
        <span class="mb-2 block text-gray-500">Jul 20, 2022</span>
        <h4 class="text-xl font-semibold text-gray-900">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </h4>
      </div>
    </a>
    <a class="group mb-8 md:flex" >
      <img
        class="h-40 w-48 rounded-lg"
        src="https://images.unsplash.com/photo-1591228127791-8e2eaef098d3?ixlib=rb-4.0.3&amp;auto=format&amp;fit=crop&amp;w=1470&amp;q=80"
        alt=""
      />
      <div class="my-4 pt-2 md:ml-6 md:mt-0">
        <span class="mb-2 block text-gray-500">Jul 20, 2022</span>
        <h4 class="text-xl font-semibold text-gray-900">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </h4>
      </div>
    </a>
    <a class="group mb-8 md:flex" >
      <img
        class="h-40 w-48 rounded-lg"
        src="https://images.unsplash.com/photo-1634128221889-82ed6efebfc3?ixlib=rb-4.0.3&amp;auto=format&amp;fit=crop&amp;w=1470&amp;q=80"
        alt=""
      />
      <div class="my-4 pt-2 md:ml-6 md:mt-0">
        <span class="mb-2 block text-gray-500">Jul 20, 2022</span>
        <h4 class="text-xl font-semibold text-gray-900">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </h4>
      </div>
    </a>
  </div>