<div class="container py-20 mx-auto">
  <div class="mx-auto overflow-hidden bg-white rounded-lg shadow-lg">
    <img class="object-cover w-full h-96"
      src="https://plus.unsplash.com/premium_photo-1663852297654-56d979cf72d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YmxvZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60"
      alt="Blog Image">
    <div class="px-8 py-6">
      <span class="font-semibold text-transparent bg-gradient-to-r from-purple-600 to-pink-600 bg-clip-text">Jul 20,
        2023</span>
      <h1 class="mt-2 text-3xl font-bold text-gray-900">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
      <p class="mt-4 text-lg text-gray-600">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
        Velit officia consequat duis enim velit mollit xercitation veniam consequat sunt nostrud amet.</p>
      <div class="mt-8">
        <h2 class="mb-4 text-2xl font-bold text-gray-900">The Importance of Design</h2>
        <p class="mb-6 leading-relaxed text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          auctor, magna ac bibendum eleifend, nulla nisi bibendum nunc, nec condimentum tellus arcu vel ante. Nulla
          facilisi. Nullam ut orci et nulla egestas tincidunt. Suspendisse potenti. Sed in enim vel tellus faucibus
          ultrices. Aliquam erat volutpat. Donec mollis nulla vel nisl hendrerit, quis bibendum velit faucibus.</p>
        <p class="mb-6 leading-relaxed text-gray-700">Sed id mauris vel tellus tincidunt bibendum. Curabitur varius
          velit eget enim lobortis, non luctus enim bibendum. Vestibulum sed dui ac ex efficitur posuere. Nulla
          facilisi. Donec consectetur dui vel nisi lobortis, vitae vehicula mauris faucibus. Sed vel sapien vel libero
          volutpat efficitur. Sed vel nunc sed enim commodo convallis.</p>
      </div>
      <div class="mt-8">
        <h2 class="mb-4 text-2xl font-bold text-gray-900">The Role of User Experience</h2>
        <p class="mb-6 leading-relaxed text-gray-700">Sed tincidunt, nisi vel bibendum tincidunt, magna velit commodo
          est, vitae suscipit dolor massa vel lacus. Nullam in enim ac neque convallis bibendum. Etiam bibendum sapien
          vitae est bibendum, vel viverra dui bibendum. Aliquam erat volutpat. Pellentesque eget nisi ut magna bibendum
          bibendum.</p>
        <p class="mb-6 leading-relaxed text-gray -700">Donec ac arcu ac est efficitur mollis. Curabitur quis est id
          magna egestas convallis. Donec ut ante id tellus hendrerit auctor. Aenean pulvinar tellus vel purus mattis,
          sed consectetur nulla fermentum. Sed nec odio eget mi eleifend iaculis. Morbi tempus metus vel nulla luctus,
          ac bibendum velit feugiat.</p>
      </div>
      <div class="mt-8">
        <h2 class="mb-4 text-2xl font-bold text-gray-900">The Future of Web Design</h2>
        <p class="mb-6 leading-relaxed text-gray-700">Sed tincidunt, nisi vel bibendum tincidunt, magna velit commodo
          est, vitae suscipit dolor massa vel lacus. Nullam in enim ac neque convallis bibendum. Etiam bibendum sapien
          vitae est bibendum, vel viverra dui bibendum.</p>
        <p class="mb-6 leading-relaxed text-gray-700">Aliquam erat volutpat. Pellentesque eget nisi ut magna bibendum
          bibendum. Donec ac arcu ac est efficitur mollis. Curabitur quis est id magna egestas convallis. Donec ut ante
          id tellus hendrerit auctor. Aenean pulvinar tellus vel purus mattis, sed consectetur nulla fermentum.</p>
      </div>
    </div>
  </div>

  @defer (on viewport) {
  <div class="mt-12">
    <app-comments />
  </div>
  }@placeholder (minimum 5s) {
  <div class="mt-12 skeleton-placeholder">
    <div class="skeleton skeleton-title"></div>
    <div class="skeleton skeleton-text"></div>
    <div class="skeleton skeleton-text"></div>
  </div>
  }@loading {
    <span>Loading Comments....</span>
  }
  @error {
    <span class="text-4xl text-red-600">Failed to load the comments</span>
  }
</div>
<hr class="my-8" />
