<header class="relative w-full bg-white border-b">
  <div class="flex items-center justify-between px-4 py-2 mx-auto max-w-7xl">
    <app-logo routerLink="/pages" />
    <div class="hidden lg:block">
      <ul class="inline-flex space-x-8">
        <li>
          <a
            routerLink="/pages/home"
            routerLinkActive="text-link-active"
            class="text-sm font-semibold cursor-pointer text-link-hover"
          >
            Home
          </a>
        </li>
        <li>
          <a
            routerLink="/pages/about"
            routerLinkActive="text-link-active"
            class="text-sm font-semibold cursor-pointer text-link-hover"
          >
            About
          </a>
        </li>
        <li>
          <a
            routerLink="/pages/contact"
            routerLinkActive="text-link-active"
            class="text-sm font-semibold cursor-pointer text-link-hover"
          >
            Contact
          </a>
        </li>
        <li>
          <a
            routerLink="/pages/widget"
            routerLinkActive="text-link-active"
            class="text-sm font-semibold cursor-pointer text-link-hover"
          >
            Widget
          </a>
        </li>
      </ul>
    </div>
    <div class="hidden lg:block">
     @if (isLoggedIn) {
      <app-button label="Logout" (handleClick)="logout()" />
     } @else {
      <app-button label="Login" (handleClick)="routeToLogin()" />
     }
    </div>
    <div class="lg:hidden">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="w-6 h-6 cursor-pointer"
      >
        <line x1="4" y1="12" x2="20" y2="12"></line>
        <line x1="4" y1="6" x2="20" y2="6"></line>
        <line x1="4" y1="18" x2="20" y2="18"></line>
      </svg>
    </div>
  </div>
</header>
