<div class="w-full">
  <section class="relative py-20 overflow-hidden">
    <div class="relative">
      <div class="max-w-xl mx-auto lg:max-w-7xl">
        <div class="max-w-2xl mx-auto text-center mb-14">
          <span class="inline-block px-3 py-1 mb-4 text-xs font-semibold text-black rounded-full bg-gray-50">
            OUR BLOG
          </span>
          <h1 class="text-5xl font-bold">Latest news from our blog</h1>
        </div>
        <div class="grid grid-cols-2 gap-5">
          <app-recent-blog />
          <app-trending-blogs />
        </div>
        <div class="text-center mt-14">
          <app-button (handleClick)="toggleBlogVisibility()" type="outlined"
            label="{{ showAllBlogs() ? 'Hide' : 'Show' }} all blogs" />
          @defer (when showAllBlogs()) {
          @if (showAllBlogs()) {
          <div class="grid gap-6 py-6 gap-y-10 md:grid-cols-2 lg:grid-cols-3">
            @for (item of blogs | async; track $index) {
            <app-blogs (blogClick)="routeToDetail($event)" [blog]="item" />
            }
          </div>
          }
          }
        </div>
      </div>
    </div>
  </section>
  <hr class="my-8" />
</div>
