<div class="px-2 mx-auto max-w-7xl">
  <a (click)="handleBlogClick(blog().id)" class="border cursor-pointer">
    <img [src]="blog().imageUrl" class="w-full rounded-md aspect-video" alt="" />
    <div class="p-3 min-h-min">
      <p class="w-full mt-4 text-xs font-semibold leading-tight text-gray-700">
        {{blog().tags}}
      </p>
      <p class="flex-1 mt-4 text-base font-semibold text-gray-900">
        {{blog().title}}
      </p>
      <p class="w-full mt-4 text-sm leading-normal text-gray-600">
        {{blog().description}}
      </p>
      <div class="flex mt-4 space-x-3">
        <img class="w-10 h-full rounded-lg" [src]="blog().authorImageUrl" alt="Emily Lee" />
        <div>
          <p class="text-sm font-semibold leading-tight text-gray-900">
            {{blog().author}}
          </p>
          <p class="text-sm leading-tight text-gray-600">{{blog().date}}</p>
        </div>
      </div>
    </div>
  </a>
</div>
